<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'game/admin_container' %>
  </head>
  <body>
  <div id="sentryContainer" class='hidden'>this text is shown when my main application css and js are not loaded</div>
  <div id="admin-svelte-component"></div>
</body>
